@page "{handler?}"
@model FrontEnd.Pages.MasterModel
@{
}
@Html.AntiForgeryToken()
<div class="row">
    <div class="col-lg-12">
        <div class="card ribbon-box">
            <div class="card-header d-flex align-items-center">
                <h5 class="card-title mb-0 flex-grow-1">Master Transaction</h5>
            </div>
            <div class="card-body">
                <div id="oneGrid"></div>
            </div>
        </div>
    </div>
</div>
@section scripts{
   @*  <script type="text/javascript">
        var $roles = @Html.Raw(Json.Serialize(Model.GroupRoleDdl?.Roles)), $users = @Html.Raw(Json.Serialize(Model.GroupRoleDdl?.Groups));
    </script> *@
    <script src="~/js/manytomany-page.js"></script>
}
